<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ServletShowcase</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>GetVsPost</servlet-name>
    <servlet-class>com.revature.servlets.GetVsPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVsPost</servlet-name>
    <url-pattern>/GetVsPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloWorldServlet</display-name>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.revature.servlets.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
    <init-param>
      <param-name>LoginName</param-name>
      <param-value>LoginValue</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.revature.filters.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/Users/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>JSession</display-name>
    <servlet-name>JSession</servlet-name>
    <servlet-class>com.revature.session.JSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSession</servlet-name>
    <url-pattern>/JSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidateSession</display-name>
    <servlet-name>InvalidateSession</servlet-name>
    <servlet-class>com.revature.session.InvalidateSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidateSession</servlet-name>
    <url-pattern>/InvalidateSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BakeCookies</display-name>
    <servlet-name>BakeCookies</servlet-name>
    <servlet-class>com.revature.session.BakeCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BakeCookies</servlet-name>
    <url-pattern>/BakeCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BurnCookies</display-name>
    <servlet-name>BurnCookies</servlet-name>
    <servlet-class>com.revature.session.BurnCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BurnCookies</servlet-name>
    <url-pattern>/BurnCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontControllerServlet</display-name>
    <servlet-name>FrontControllerServlet</servlet-name>
    <servlet-class>com.revature.servlets.FrontControllerServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontControllerServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <context-param>
    <param-name>someName</param-name>
    <param-value>someValue</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>GetPolkamans</display-name>
    <servlet-name>GetPolkamans</servlet-name>
    <servlet-class>com.revature.servlets.GetPolkamans</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPolkamans</servlet-name>
    <url-pattern>/GetPolkamans</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErsLogin</display-name>
    <servlet-name>ErsLogin</servlet-name>
    <servlet-class>com.revature.servlets.ErsLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErsLogin</servlet-name>
    <url-pattern>/ErsLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>databaseTester</display-name>
    <servlet-name>databaseTester</servlet-name>
    <servlet-class>com.revature.servlets.databaseTester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>databaseTester</servlet-name>
    <url-pattern>/databaseTester</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>